@charset "UTF-8";

.wrap{
    width: 1200px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    position: relative;
}
#header{
    height: 100px;
    /* background-color: tan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    
    
    
}   
.logo a{}   
.logo a img{}
.nav{
    
    align-self:self-end;   
    
    
}
.main{
    
}  
.main > li{
    display: inline-block;
    position: relative;

}  
.main > li > a{
    display: block;
    width: 150px;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
}  

.sub{
    position: absolute;
    left: 0;top:50px;
    width: 100%;
    z-index: 10;
    display: none;
}
.sub li{ 
    }
.sub li a{
    display: block;
    
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: gray;
    color: white;
}
.sub li a :hover{
    /* background-color: cadetblue; */
}
.sub_bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: gray;
    z-index: 9;
    display: none;

}

/* section 영역 */
#section{
    height: 500px;
    /* background-color: palegoldenrod; */
}


.slide_img{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.left_move{
    width: calc(1200px * 3);
    position: absolute;
    left: 0;
    top: 0;
}

.left_move li{
    float: left;
}


/* contents */

.contents{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents > div{
    height: 200px;
    width: 390px;
    /* background-color:beige; */
}
.contents h3{
    width: 100px;
    height: 35px;
    /* background: red;  */
    color:white;
    text-align: center;
    margin-left: 20px;
    line-height: 35px;
    border-radius: 10px 10px 0 0;
}
.contents ul, .contents p{
    width: 100%;
    height: 165px;
    border-top: 2px solid red;
    /* background-color: white; */
    border-radius: 10px;
}

.notice{}
.notice ul{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.notice ul li{
    display: flex;
    justify-content: space-between;

}
.notice ul li a{
    width: 75%;
    text-wrap:nowrap;
    overflow: hidden;
}
.notice ul li span{}

.gallery{}
.gallery ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery ul li{}

.banner{}
.banner p{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    height: 100px;
    /* background-color: paleturquoise; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f_logo{}
.copy{
    border-left: 1px dotted #ddd;
    border-right: 1px dotted #ddd;
    width: 600px;
    text-align: center;
    padding: 10px 0;
}
.family{}
.family select{
    height: 30px;
}
.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
    left: 0;top: 0;
    display: none;
}
.pop{
    width: 300px;
    height: 400px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 20px solid yellow;
    display: none;
}
.pop h3{
    text-align: center;
    line-height: 2;
    border-bottom: 5px double gray;
}
.pop p{
    padding-top: 20px;
    text-align: justify;
    line-height: 1.7;
}
.close{
    position: absolute;
    right: 10px;
    bottom:10px;
    padding: 5px 10px;
    cursor: pointer;

}